includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - app/
        - src/
    level: 9
#    scanFiles:
#        - _ide_helper_models.php
    checkGenericClassInNonGenericObjectType: false
